// margin and padding classes

$spaces: (1,2,3,4,5);

@each $space in $spaces {
    .m-#{$space} {
        margin: #{$space}em;
    }
    .mx-#{$space} {
        margin: 0 #{$space}em;
    }
    .my-#{$space} {
        margin-top: #{$space}em;
        margin-bottom: #{$space}em;
    }
    .p-#{$space} {
        padding: #{$space}em;
    }
    .px-#{$space} {
        padding: 0 #{$space}em;
    }
    .py-#{$space} {
        padding-top: #{$space}em;
        padding-bottom: #{$space}em;
    }
}

// row & grid columns

$frames: (1,2,3,4,5);

@each $frame in $frames {
    .row-#{$frame} {
        display: grid;
        grid-template-rows: repeat(#{$frame}, 1fr);
        grid-gap: 1em;
    }

    .col-#{$frame} {
        display: grid;
        grid-template-columns: repeat(#{$frame}, 1fr);
        grid-gap: 1em;
    }
    
    .col#{$frame} {
        display: flex;
        grid-gap: #{$frame}em;
    }
}

// menu transitions

$positions: (3,4,5,6,7);

@each $ptn in $positions {
    .left-#{$ptn} {
        position: relative;
        left: #{$ptn}em;
    }
}