$font-fahm-1: 'Popins', serif;
$font-fahm-2: 'Cabin Sketch', cursive;
$font-fahm-3: 'Chakra Petch', sans-serif;
$font-fahm-4: 'Comic Neue', cursive;
$font-fahm-5: 'Exo 2', sans-serif;
$font-fahm-6: 'Fredericka the Great', cursive;
$font-fahm-7: 'Fredoka One', cursive;
$font-fahm-8: 'Jura', sans-serif;
$font-fahm-9: 'Mukta', sans-serif;
$font-fahm-10: 'Open Sans', sans-serif;
$font-fahm-11: 'Roboto', sans-serif;
$font-fahm-12: 'Roboto Slab', serif;
$font-fahm-13: 'Frank Ruhl Libre', serif;
$font-fahm-14: 'Gugi', cursive;
$font-fahm-15: 'Coiny', cursive;
$font-fahm-16: 'Aldrich', sans-serif;